.corob {
  max-width: 400px;
  background-color: rgb(112, 144, 132);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 100px auto 200px;
  padding: 50px 0 20px;
}

.litleCorob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  height: 100px;
  margin: 0 auto 35px;
  border-radius: 5px;
  font-size: 100px;
  font-weight: 600;
  width: 100%;
}

.numeric {
  display: flex;
  justify-content: center;
  align-items: center;
  color: chartreuse;
  height: 100px;
  margin: 0 auto 35px;
  border-radius: 5px;
  font-size: 100px;
  font-weight: 600;
  width: 100%;
}

.proList {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-top: 50px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 90px;
  height: 45px;
  background-color: aqua;
  color: blue;
  border-radius: 5px;
  border: 0;
  font-size: 30px;
  font-weight: 500;
  &:hover {
    background-color: #fff;
  }
}
